/* Global */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
  padding: 2rem;
  background-color: #553611;
  background-image: linear-gradient( 115deg, rgba(0, 0, 0, 0.4), rgba(77, 76, 76, 0.3) ), url('../img/coffee-beans-bg.jpg');
}

/* Main */

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.50rem;
}

h2 {
  font-size: 1.8rem;
  margin: 1.10rem;
}

.slogan {
  font-style: italic;
  font-size: 0.95rem;
}

.logo {
  /* background-color: #12460d; */
  background-color: #553611;
  color: #d3d3d3;
  padding: 1rem;
  border-radius: 50%;
}

h1, h2, .slogan {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: #b6946b;
  margin: 0 auto;
  padding: 1.25rem;
  max-width: 37rem;
  border-radius: 7px;
}

.menu-division {
  border: 2px solid #553611;
  margin: 1.50rem auto;
}

img {
  display: block;
  margin: 0 auto;
  padding-bottom: 1rem;
  max-width: 1.70rem;
}

/* Alinhamento Produtos */
.menu-item {
  padding: 1rem;
}

.menu-item p {
  display: inline-block;
  margin: 0.31rem 0;
}

.menu-flavor, .menu-descripton, .menu-appetizers, .menu-pastries {
  text-align: left;
  width: 75%;
}

.menu-flavor, .menu-appetizers, .menu-pastries, .menu-price {
  font-weight: 700;
  font-size: 1.17rem;
}

.menu-descripton {
  font-size: 0.90rem;
}

.menu-price {
 text-align: right;
 width: 25%;
}

/* Footer */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.8;
}

.footer-btn {
  margin-bottom: 1rem;
  background-color: #553611;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #553611;
}

.footer-btn a {
  color: #d3d3d3;
  font-weight: 700;
  font-size: 1.10rem;
  cursor: pointer;
}

.footer-btn:hover {
  background-color: #b6946b;
}

.footer-btn a:hover {
  color: #553611;
}